body {
    background-color: black;
}

.wrapper {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 2fr 1fr;
}

.wrapper > div {
    padding: 1em;
}

.box {
    background-color: #333;
}

.box1 {
    background-color: white;
}

.box2 {
    background-color: yellow;
}

.box3 {
    background-color: red;
}

.box4 {
    background-color: blue;
}

.box5 {
    background-color: yellow;
}

.box6 {
    background-color: white;
}