body {
    background-color: black;
}

.wrapper {
    display: grid;
    grid-gap: 0.55em;
    grid-template-areas: "a b b c c c c d d d d d d e e f f"
                         "a b b c c c c d d d d d d e e f f"
                         "g h h i i i i j j k k k k l l m m"
                         "g h h i i i i j j k k k k l l m m"
                         "n o o p p p p p p q q q q r r m m";

    max-width: 400px;
    max-height: 300px;
    margin: 0;
}

.wrapper > div {
    padding: 1em;
}

.box {
    background-color: #333;
}

.box1 {
    grid-area: a;
    background-color: white;
}

.box2 {
    grid-area: b;
    background-color: yellow;
}

.box3 {
    grid-area: c;
    background-color: red;
}

.box4 {
    grid-area: d;
    background-color: blue;
}

.box5 {
    grid-area: e;
    background-color: yellow;
}

.box6 {
    grid-area: f;
    background-color: white;
}

.box7 {
    grid-area: g;
    background-color: white;
}

.box8 {
    grid-area: h;
    background-color: white;
}

.box9 {
    grid-area: i;
    background-color: white;
}

.box10 {
    grid-area: j;
    background-color: white;
}

.box11 {
    grid-area: k;
    background-color: red;
}

.box12 {
    grid-area: l;
    background-color: blue;
}

.box13 {
    grid-area: m;
    background-color: white;
}

.box14 {
    grid-area: n;
    background-color: white;
}

.box15 {
    grid-area: o;
    background-color: white;
}

.box16 {
    grid-area: p;
    background-color: blue;
}

.box17 {
    grid-area: q;
    background-color: white;
}

.box18 {
    grid-area: r;
    background-color: yellow;
}